<!DOCTYPE html>
<html>
<head>
  <title>Pethotel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!-- <%= javascript_include_tag "jquery.dataTables.js" %> -->
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top" id = "upper_fix">
    <div class="navbar-inner">
      <div class="container">
        
        <div class="nav-collapse">
          <ul class="nav">
             <!-- <li><a href="/">Home</a></li> -->
             <li><a href="#">Families</a></li>
             <li><a href="#">Reservations</a></li>
              <li><a href="#">Operations</a></li>
        	  <li><a href="#">Reports</a></li>
              <li><a href="#">Admin</a></li>
          </ul>
        </div>
        <div id= "logout"><a href="#" class="btn btn-danger">logout</a></div> 
      </div>
      
    </div>
  </div>
  
      <!--<div class="navbar" id= "upper_fix">
        <div class="navbar-inner">
            <a class="brand" href="#"><img src="/assets/pet-ui-logo.png" /></a>
            <ul class="nav">
            <li class="active"><a href="#">Families</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">Operations</a></li>
            <li><a href="#">Reports</a></li>
             <li><a href="#">Admin</a></li>
            </ul>
        </div>
    </div>-->
  
  

	<div style="height:60px;"></div>
	<div class="container">
<%= yield %>
</div>
 
</div>

</body>
</html>
